@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* default css for the  headings */

h1 {
    font-size: clamp(30px, 5vw, 60px);
}

h2 {
    @apply text-3xl;
}

p {
    font-size: clamp(12px, 2vw, 14px);
}

/* custom css starts from here  */

/*  for hiding the scrollbar */

.hide_scrollbar {
    scrollbar-width: none;
}

.sectionCustomHeight {
    min-height: calc(100vh - 80px);
}

.brandFont {
    font-family: 'Inter', sans-serif;
}

/* custom css ends  here  */

@layer utilities {
    p {
        @apply text-gray-400 text-sm;
    }

    .custom_container {
        @apply container mx-auto  px-[8%];
    }

    .flex_center {
        @apply flex justify-center items-center;
    }

    .flex_between {
        @apply flex justify-between items-center;
    }

    .custom_input {
        @apply w-full border border-gray-200 py-2 pl-4 rounded-md;
    }

    .btn {
        @apply bg-black text-white text-sm py-3 px-8 rounded-lg shadow-lg capitalize cursor-pointer hover:bg-black/80 transition-all duration-300 ease-in-out;
    }

    .white_btn {
        @apply bg-white text-black text-sm py-4 px-10 rounded-lg shadow-lg capitalize cursor-pointer hover:bg-white/90 transition-all duration-300 ease-in-out;
    }

    .grayBtn {
        @apply text-sm  bg-gray-100 py-3 px-8 rounded-md transition-all duration-300 ease-in-out;
    }

    .colorless_btn {
        @apply text-white text-sm py-4 px-10 rounded-lg shadow-lg capitalize cursor-pointer  border-white border-[1px] transition-all duration-300 ease-in-out;
    }

    .section {
        @apply sectionCustomHeight  custom_container flex_center  p-8;
    }
}

/* #view_btn,
#download_btn,
#folder,
#file {
    transition: all 0.5s ease-in-out;
}

#folder #view_btn,
#file #download_btn {
    display: none;
}

#folder:hover #view_btn,
#file:hover #download_btn {
    display: block;
} */
